<aside class="aside-profile">
  <img alt="user-avatar"
       class="user-avatar"
       src="https://fuskator.me/uploads/posts/2023-02/1677388094_fuskator-me-p-porn-handsome-men-in-a-swimsuit-and-hairy-51.jpg"
  >
  <div class="main-user-data" style="margin-bottom: 30px">
    <h3>{Username}#{id}</h3>
    <h4>{email@email.com}</h4>
  </div>
  <p id="load-time">{{serverTime}}</p>
  <p>Monkes: {N}</p>
  <p>Posts: {M}</p>
</aside>