{{#if profile}}
  <footer class="site-footer-profile">
{{else}}
  <footer class="site-footer">
{{/if}}
  <p>© 2023 Menemi</p>
  <p><a href="https://t.me/Menemi" target="_blank" class="footer-links">Telegram</a></p>
  <p><a href="https://github.com/1Menemi1" target="_blank" class="footer-links">Github</a></p>
  <p><a href="https://www.twitch.tv/1menemi1" target="_blank" class="footer-links">Twitch</a></p>
</footer>