<section class="heading-profile" id="tabs">
  <a href="../../profile/monkes/">monkes</a>
  <a href="../../profile/posts/">posts</a>
  <a href="../../profile/comments/">comments</a>
  <a href="../../profile/feedbacks/">feedbacks</a>
</section>