<head>
  <meta charset="utf-8">
  <title>MAKAKINO</title>
  <meta content="Социальная сеть для владельцев макак" name="description">
  <meta content="социальная сеть, владелец, хозяин, макака, социальная сеть для владельцев макак" name="keywords">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href="/pictures/nft%20обезьяна.png" rel="icon">
  <link href="/css/class-selectors.css" rel="stylesheet">
  <link href="/css/element-type-selectors.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <script src="/js/page-load-time.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="/js/highlight-active-page.js"></script>
  {{#if timelines}}
    <link href="/bower_components/timesheet.js/dist/timesheet.min.css" rel="stylesheet">
    <script src="/bower_components/timesheet.js/dist/timesheet.min.js"></script>
  {{else if secondLab}}
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap" rel="stylesheet">
  {{/if}}
</head>