{{#if profile}}
  <header class="site-header-profile">
{{else}}
  <header class="site-header">
{{/if}}
  <a href="/">
    <img
      alt="Аватарка"
      class="avatar display-hidden-max-width-890"
      src="/pictures/nft%20обезьяна.png"
      {{#if profile}}
      style="width: 100px"
      {{/if}}
    >
  </a>
  <div class="header-text-block">
    <h1><a href="/">MAKAKINO</a></h1>
  </div>
  <div>
    <a class="display-hidden-max-width-890" href="../../profile/monkes" onclick="myFunction()">
      <img
        alt="Кнопка авторизации"
        class="auth-button"
        src="https://fuskator.me/uploads/posts/2023-02/1677388094_fuskator-me-p-porn-handsome-men-in-a-swimsuit-and-hairy-51.jpg"
        style="width: 100px"
      >
    </a>
  </div>
</header>