<section class="menu-profile">
  {{> monke}}
  <img alt="divider" src="/pictures/divider.png" style="width: 100%;">
  {{> monke}}
  <img alt="divider" src="/pictures/divider.png" style="width: 100%;">
  {{> monke}}
</section>