<div class="monke">
  <div class="monke-characteristics">
    <h4 style="margin: 10px 0 15px 10px">{Name}#{id}</h4>
    <h5 class="monke-parametrs">{weight}kg</h5>
    <h5 class="monke-parametrs">{height}sm</h5>
    <h5 class="monke-parametrs">{color}</h5>
  </div>
  <img alt="monke-avatar"
       src="https://fuskator.me/uploads/posts/2023-02/1677388094_fuskator-me-p-porn-handsome-men-in-a-swimsuit-and-hairy-51.jpg"
       class="monke-avatar"
  >
</div>