<ul>
  <li><a href="/">Главная</a></li>
  <li><a href="profile/monkes/">Профиль</a></li>
  <li><a href="meeting-place-map">Карта</a></li>
  <li><a href="forum">Форум</a></li>
  <li><a href="feedback">Фидбек</a></li>
  <li><a href="timelines">История</a></li>
</ul>