<!DOCTYPE html>
<html lang="ru">
{{> head}}

<body>
<div class="wrapper">
  <div class="content">
    {{> header }}

    <main class="main-menu-container-profile">
      {{> aside_profile}}
      <div class="main-area-profile">
        {{> heading_profile}}
        {{> underheading_profile}}
        {{> menu_profile}}
      </div>
    </main>
  </div>
  {{> footer}}
</div>
</body>
</html>
